# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/

# Build / dist
build/
dist/
*.egg-info/

# Env
.env
.env.local

# IDE
.idea/
.vscode/
*.swp

# Data
var/
data/
*.sqlite
*.sqlite-journal
*.db
